* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container-fluid {
    width: 100%;
    min-height: 100vh;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.wrapperContainer {
    background: purple;
    padding: 1rem;
}

.searchBtn {
    background: #28a745;
    text-align: center;
    padding: 3px;
}

#city-input {
    background: red;
    order: -1;
}

.inputContainer {
    padding: 8px;
    background: green;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.element1 {
    margin-top: 10px;
    width: 100%;
    height: 100;
    background: red;
}

#countryLebal, #cityLebal {
    color: green;
    background: blue;
    font-size: 20px;
    font-weight: bold;
}

#countryName {
    background: gray;
}

#countryLebal, #countryName {
    text-align: center;
}

.cityName {
    display: flex;
    flex-direction: column;
    background: green;
    align-items: center;
}

#cityContainer {
    text-align: center;
}